.blog-aside {
  ul {
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .blog-search, .blog-categories, .blog-archive, .blog-popular-posts, .blog-tags {
    background-color: #403f46;
  }
  .blog-categories, .blog-archive, .blog-popular-posts, .blog-tags {
    margin: 2rem auto;
    padding: 3.5rem 3.2rem 4.5rem;
    h2 {
      margin: 0 0 4.4rem;
      font-size: 2rem;
      color: #ffea00;
    }
    .categories-content, .archive-content {
      margin: 0;
      padding: 0;

      a {
        font-size: 1.6rem;
        color: #ffffff;
        text-transform: uppercase;
        span {
          text-align: center;
          font-size: 1.6rem;
          color: #403f46;
          width: 2.8rem;
          padding: 0.6rem 0;
          margin-right: 0.3rem;
          margin-bottom: 1.5rem;
          background-color: #ffeb00;
        }
      }
    }
  }
  .blog-search {
    padding: 2.1rem 0;
    background-color: #403f46;
    input {
      width: 80%;
      margin: 0 auto;
      border-radius: 2.5rem;
      &::-webkit-input-placeholder {
        font: 400 1.8rem 'Century Gothic', Regular;
        color: #737373;
      }
      &::-moz-placeholder {
        font: 400 1.8rem 'Century Gothic', Regular;
        color: #737373;
      }
      &:-ms-input-placeholder {
        font: 400 1.8rem 'Century Gothic', Regular;
        color: #737373;
      }
    }
  }
  .blog-popular-posts {
    li {
      display: flex;
      margin-bottom: 2.5rem;
      align-items: center;
      div {
        width: 100%;
      }
      p {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0 0 1rem 1rem;
      }
      span {
        font-size: 1.2rem;
        color: #ffea00;
        .fa {
          padding-left: 1.4rem;
        }
      }
      div>span {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
  .blog-tags {
    ul {
      li {
        display: inline-block;
        margin: 0rem 0.1rem 1.5rem 0;
        a {
          font-size: 1.6rem;
          text-transform: uppercase;
          color: #424147;
          background-color: #ffeb00;
          padding: 0.6rem 1rem;
        }
      }
    }
  }
}