#header {
  .active {
    background-color: #ffeb00;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    .nav-skokov {
      display: flex;
      justify-content: space-between;
      li {
        a {
          font: 300 1.6em 'Code', light;
          color: #000000;
          padding: 3rem 1rem;
          margin-left: 6rem;
          &:hover {
            background-color: #ffeb00;
          }
        }
      }
    }
  }
}