.portfolio-name {
  background: url("../img/bg-portfolio.png") center/cover no-repeat;
  p {
    display: inline-block;
    font: 400 3.5rem 'Century Gothic', Regular;
    color: #ffea00;
    padding: 2.2rem 10.5rem 2.2rem 2.2rem;
    margin: 4rem 0;
    background-color: #403f44;
  }
}