@font-face {
  font-family: "Century Gothic";
  src: url(../fonts/CenturyGothic.ttf);
  src: url(../fonts/CenturyGothic.eot);
  src: url(../fonts/CenturyGothic.svg);
  src: url(../fonts/CenturyGothic.woff); }

@font-face {
  font-family: "Code";
  src: url(../fonts/Code-Light.ttf);
  src: url(../fonts/Code-Light.otf);
  src: url(../fonts/Code-Light.eot);
  src: url(../fonts/Code-Light.svg);
  src: url(../fonts/Code-Light.woff); }

body {
  background-color: #f6f6f6; }
  body h1, body h2, body p, body span, body a {
    font: 400 10px 'Century Gothic', Regular; }
  body h1, body h2 {
    text-transform: uppercase; }
  body ul {
    list-style: none; }

@media (min-width: 1400px) {
  body > .container {
    width: 138rem;
    margin: 0 auto;
    padding: 0; } }

@media (max-width: 1399px) {
  body > .container {
    width: 100%; } }

#header .active {
  background-color: #ffeb00; }

#header .header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 17rem;
  margin: 0; }
  #header .header .nav-skokov {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .header .nav-skokov li a {
      font: 300 1.6em 'Code', light;
      color: #000000;
      padding: 3rem 1rem;
      margin-left: 6rem; }
      #header .header .nav-skokov li a:hover {
        background-color: #ffeb00; }

@media (max-width: 767px) {
  #header .header {
    display: block;
    margin: 0 auto; }
    #header .header .navbar-header .button-skokov {
      border-color: #000000;
      margin-top: 4em; }
      #header .header .navbar-header .button-skokov span {
        background-color: #000000; }
      #header .header .navbar-header .button-skokov:hover {
        background-color: #ffeb00; }
    #header .header .nav-skokov {
      position: absolute;
      width: 100%;
      right: 0;
      z-index: 1;
      text-align: center;
      background-color: #f6f6f6;
      border: 1px solid #000000;
      margin: 0;
      display: block; }
      #header .header .nav-skokov li a {
        padding: 0.5em;
        margin: 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  #header .header .nav-skokov li a {
    margin-left: 1rem; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #header .header .nav-skokov li a {
    margin-left: 2rem; } }

.portfolio-name {
  background: url("../img/bg-portfolio.png") center/cover no-repeat; }
  .portfolio-name p {
    display: inline-block;
    font: 400 3.5rem 'Century Gothic', Regular;
    color: #ffea00;
    padding: 2.2rem 10.5rem 2.2rem 2.2rem;
    margin: 4rem 1rem;
    background-color: #403f44; }

@media (max-width: 767px) {
  .portfolio-name p {
    font-size: 2.5rem;
    padding-right: 6rem; } }

#blog {
  padding: 7.8rem 0; }
  #blog .active {
    background-color: #ffeb00; }
  #blog .blog {
    margin: 0; }
    #blog .blog .blog-content {
      padding: 0; }
      #blog .blog .blog-content article {
        margin-bottom: 3rem; }
        #blog .blog .blog-content article img {
          width: 100%; }
        #blog .blog .blog-content article h2 {
          font-size: 2.3rem;
          color: #000000;
          margin: 0; }
        #blog .blog .blog-content article p {
          font-size: 1.4rem;
          margin: 2.5rem 0;
          color: #5e5e5e; }
        #blog .blog .blog-content article span {
          font-size: 1.2rem;
          color: #000000; }
        #blog .blog .blog-content article div {
          padding: 2.5rem;
          background-color: #ffeb00;
          position: relative; }
          #blog .blog .blog-content article div:before {
            content: '';
            display: block;
            position: absolute;
            top: -1.7rem;
            right: 7%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1.7rem 1.7rem 1.7rem;
            border-color: transparent transparent #ffeb00 transparent; }
          #blog .blog .blog-content article div div {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            padding: 0; }
            #blog .blog .blog-content article div div .fa {
              color: #5e5e5e; }
      #blog .blog .blog-content .blog-quote {
        color: #000000;
        background-color: #ffeb00;
        padding: 1.2rem 4.5rem 0.6rem;
        margin-bottom: 3rem; }
        #blog .blog .blog-content .blog-quote blockquote {
          font: 400 2.1rem 'Century Gothic', Regular;
          border: none;
          margin: 0;
          padding: 0; }
        #blog .blog .blog-content .blog-quote address {
          font: 400 1.1rem 'Century Gothic', Regular;
          text-align: end;
          margin: 0; }
  #blog .blog-pages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 4rem auto 7rem; }
    #blog .blog-pages a {
      color: #414146;
      font-size: 2rem;
      font-weight: 700;
      padding: 1.5rem;
      text-decoration: none; }
      #blog .blog-pages a:hover {
        padding: 1.5rem;
        background-color: #ffeb00; }
    #blog .blog-pages .number-pages {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
      padding: 0; }

@media (min-width: 992px) and (max-width: 1199px) {
  #blog {
    padding: 4rem 0 0; } }

@media (min-width: 768px) and (max-width: 991px) {
  #blog {
    padding: 4rem 0; }
    #blog .blog-pages {
      margin: 4rem auto; } }

@media (max-width: 767px) {
  #blog {
    padding: 2rem 0; }
    #blog .blog .blog-content article {
      margin-bottom: 1.5rem; }
      #blog .blog .blog-content article h2 {
        font-size: 1.8rem; }
      #blog .blog .blog-content article p {
        font-size: 1.2rem;
        margin: 1.5rem 0; }
      #blog .blog .blog-content article span {
        font-size: 1rem; }
      #blog .blog .blog-content article div {
        padding: 1.5rem; }
        #blog .blog .blog-content article div:before {
          top: -1rem;
          border-width: 0 1rem 1rem 1rem; }
    #blog .blog .blog-content .blog-quote {
      padding: 1rem 2.5rem 0.6rem;
      margin-bottom: 1.5rem; }
      #blog .blog .blog-content .blog-quote blockquote {
        font: 400 1.8rem 'Century Gothic', Regular; }
      #blog .blog .blog-content .blog-quote address {
        font: 400 1rem 'Century Gothic', Regular; }
    #blog .blog-pages {
      margin: 1rem 0 3rem; }
      #blog .blog-pages ul {
        margin: 0;
        padding: 0; }
      #blog .blog-pages a {
        font-size: 1rem;
        padding: 1rem; }
        #blog .blog-pages a:hover {
          padding: 1rem; } }

.blog-aside ul {
  padding: 0; }

.blog-aside a {
  text-decoration: none; }

.blog-aside .blog-search, .blog-aside .blog-categories, .blog-aside .blog-archive, .blog-aside .blog-popular-posts, .blog-aside .blog-tags {
  background-color: #403f46; }

.blog-aside .blog-categories, .blog-aside .blog-archive, .blog-aside .blog-popular-posts, .blog-aside .blog-tags {
  margin: 2rem auto;
  padding: 3.5rem 3.2rem 4.5rem; }
  .blog-aside .blog-categories h2, .blog-aside .blog-archive h2, .blog-aside .blog-popular-posts h2, .blog-aside .blog-tags h2 {
    margin: 0 0 4.4rem;
    font-size: 2rem;
    color: #ffea00; }
  .blog-aside .blog-categories .categories-content, .blog-aside .blog-categories .archive-content, .blog-aside .blog-archive .categories-content, .blog-aside .blog-archive .archive-content, .blog-aside .blog-popular-posts .categories-content, .blog-aside .blog-popular-posts .archive-content, .blog-aside .blog-tags .categories-content, .blog-aside .blog-tags .archive-content {
    margin: 0;
    padding: 0; }
    .blog-aside .blog-categories .categories-content a, .blog-aside .blog-categories .archive-content a, .blog-aside .blog-archive .categories-content a, .blog-aside .blog-archive .archive-content a, .blog-aside .blog-popular-posts .categories-content a, .blog-aside .blog-popular-posts .archive-content a, .blog-aside .blog-tags .categories-content a, .blog-aside .blog-tags .archive-content a {
      font-size: 1.6rem;
      color: #ffffff;
      text-transform: uppercase; }
      .blog-aside .blog-categories .categories-content a span, .blog-aside .blog-categories .archive-content a span, .blog-aside .blog-archive .categories-content a span, .blog-aside .blog-archive .archive-content a span, .blog-aside .blog-popular-posts .categories-content a span, .blog-aside .blog-popular-posts .archive-content a span, .blog-aside .blog-tags .categories-content a span, .blog-aside .blog-tags .archive-content a span {
        text-align: center;
        font-size: 1.6rem;
        color: #403f46;
        width: 2.8rem;
        padding: 0.6rem 0;
        margin-right: 0.3rem;
        margin-bottom: 1.5rem;
        background-color: #ffeb00; }

.blog-aside .blog-search {
  padding: 2.1rem 0;
  background-color: #403f46; }
  .blog-aside .blog-search input {
    width: 80%;
    margin: 0 auto;
    -webkit-border-radius: 2.5rem;
            border-radius: 2.5rem; }
    .blog-aside .blog-search input::-webkit-input-placeholder {
      font: 400 1.8rem 'Century Gothic', Regular;
      color: #737373; }
    .blog-aside .blog-search input::-moz-placeholder {
      font: 400 1.8rem 'Century Gothic', Regular;
      color: #737373; }
    .blog-aside .blog-search input:-ms-input-placeholder {
      font: 400 1.8rem 'Century Gothic', Regular;
      color: #737373; }

.blog-aside .blog-popular-posts li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .blog-aside .blog-popular-posts li div {
    width: 100%; }
  .blog-aside .blog-popular-posts li p {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0 1rem 1rem; }
  .blog-aside .blog-popular-posts li span {
    font-size: 1.2rem;
    color: #ffea00; }
    .blog-aside .blog-popular-posts li span .fa {
      padding-left: 1.4rem; }
  .blog-aside .blog-popular-posts li div > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.blog-aside .blog-tags ul li {
  display: inline-block;
  margin: 0rem 0.1rem 1.5rem 0; }
  .blog-aside .blog-tags ul li a {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #424147;
    background-color: #ffeb00;
    padding: 0.6rem 1rem; }

@media (min-width: 992px) and (max-width: 1199px) {
  .blog-aside .blog-categories, .blog-aside .blog-archive, .blog-aside .blog-popular-posts, .blog-aside .blog-tags {
    margin: 1rem auto;
    padding: 2.5rem 1rem 2.5rem; }
    .blog-aside .blog-categories h2, .blog-aside .blog-archive h2, .blog-aside .blog-popular-posts h2, .blog-aside .blog-tags h2 {
      margin: 0 0 2.4rem;
      font-size: 1.8rem; }
    .blog-aside .blog-categories .categories-content a, .blog-aside .blog-categories .archive-content a, .blog-aside .blog-archive .categories-content a, .blog-aside .blog-archive .archive-content a, .blog-aside .blog-popular-posts .categories-content a, .blog-aside .blog-popular-posts .archive-content a, .blog-aside .blog-tags .categories-content a, .blog-aside .blog-tags .archive-content a {
      font-size: 1.4rem; }
      .blog-aside .blog-categories .categories-content a span, .blog-aside .blog-categories .archive-content a span, .blog-aside .blog-archive .categories-content a span, .blog-aside .blog-archive .archive-content a span, .blog-aside .blog-popular-posts .categories-content a span, .blog-aside .blog-popular-posts .archive-content a span, .blog-aside .blog-tags .categories-content a span, .blog-aside .blog-tags .archive-content a span {
        font-size: 1.4rem;
        width: 2rem;
        padding: 0.3rem 0; }
  .blog-aside .blog-popular-posts li {
    margin-bottom: 2rem; }
    .blog-aside .blog-popular-posts li p {
      font-size: 1.4rem; }
    .blog-aside .blog-popular-posts li span {
      font-size: 1rem; }
  .blog-aside .blog-tags ul li {
    margin: 0rem 0.1rem 1.2rem 0; }
    .blog-aside .blog-tags ul li a {
      font-size: 1.4rem;
      padding: 0.4rem 0.6rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  .blog-aside .blog-categories, .blog-aside .blog-archive, .blog-aside .blog-popular-posts, .blog-aside .blog-tags {
    margin: 1rem auto;
    padding: 2.5rem 10rem 2.5rem; }
    .blog-aside .blog-categories h2, .blog-aside .blog-archive h2, .blog-aside .blog-popular-posts h2, .blog-aside .blog-tags h2 {
      margin: 0 0 2.4rem;
      font-size: 1.8rem; }
    .blog-aside .blog-categories .categories-content a, .blog-aside .blog-categories .archive-content a, .blog-aside .blog-archive .categories-content a, .blog-aside .blog-archive .archive-content a, .blog-aside .blog-popular-posts .categories-content a, .blog-aside .blog-popular-posts .archive-content a, .blog-aside .blog-tags .categories-content a, .blog-aside .blog-tags .archive-content a {
      font-size: 1.4rem; }
      .blog-aside .blog-categories .categories-content a span, .blog-aside .blog-categories .archive-content a span, .blog-aside .blog-archive .categories-content a span, .blog-aside .blog-archive .archive-content a span, .blog-aside .blog-popular-posts .categories-content a span, .blog-aside .blog-popular-posts .archive-content a span, .blog-aside .blog-tags .categories-content a span, .blog-aside .blog-tags .archive-content a span {
        font-size: 1.4rem;
        width: 2rem;
        padding: 0.3rem 0; }
  .blog-aside .blog-popular-posts li {
    margin-bottom: 2rem; }
    .blog-aside .blog-popular-posts li p {
      font-size: 1.4rem; }
    .blog-aside .blog-popular-posts li span {
      font-size: 1rem; }
  .blog-aside .blog-tags ul li {
    margin: 0rem 0.1rem 1.2rem 0; }
    .blog-aside .blog-tags ul li a {
      font-size: 1.4rem;
      padding: 0.4rem 0.6rem; } }

@media (max-width: 767px) {
  .blog-aside {
    margin-top: 2rem; }
    .blog-aside .blog-categories, .blog-aside .blog-archive, .blog-aside .blog-popular-posts, .blog-aside .blog-tags {
      margin: 0.8rem auto;
      padding: 2rem 1rem; }
      .blog-aside .blog-categories h2, .blog-aside .blog-archive h2, .blog-aside .blog-popular-posts h2, .blog-aside .blog-tags h2 {
        margin: 0 0 2.4rem;
        font-size: 1.8rem; }
      .blog-aside .blog-categories .categories-content a, .blog-aside .blog-categories .archive-content a, .blog-aside .blog-archive .categories-content a, .blog-aside .blog-archive .archive-content a, .blog-aside .blog-popular-posts .categories-content a, .blog-aside .blog-popular-posts .archive-content a, .blog-aside .blog-tags .categories-content a, .blog-aside .blog-tags .archive-content a {
        font-size: 1.4rem; }
        .blog-aside .blog-categories .categories-content a span, .blog-aside .blog-categories .archive-content a span, .blog-aside .blog-archive .categories-content a span, .blog-aside .blog-archive .archive-content a span, .blog-aside .blog-popular-posts .categories-content a span, .blog-aside .blog-popular-posts .archive-content a span, .blog-aside .blog-tags .categories-content a span, .blog-aside .blog-tags .archive-content a span {
          font-size: 1.4rem;
          width: 2rem;
          padding: 0.3rem 0; }
    .blog-aside .blog-popular-posts li {
      margin-bottom: 2rem; }
      .blog-aside .blog-popular-posts li p {
        font-size: 1.4rem; }
      .blog-aside .blog-popular-posts li span {
        font-size: 1rem; }
    .blog-aside .blog-tags ul li {
      margin: 0rem 0.1rem 1.2rem 0; }
      .blog-aside .blog-tags ul li a {
        font-size: 1.4rem;
        padding: 0.4rem 0.6rem; } }

#footer {
  background-color: #3f3f44;
  color: #ffffff;
  padding: 3rem 9rem 0; }
  #footer .yellow {
    color: #ffeb00; }
  #footer h3 {
    font: 400 1.8rem 'Century Gothic', Regular; }
  #footer p, #footer span {
    font-size: 1.3rem; }
  #footer a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff; }
  #footer .about p {
    margin-bottom: 3rem; }
  #footer .about .learn {
    font-size: 1.5rem;
    border-bottom: 3px solid #ffeb00;
    padding: 1.2rem 1.8rem;
    background-color: #000000; }
  #footer .about .stream {
    margin-top: 4rem; }
  #footer .about ul {
    padding: 0; }
    #footer .about ul li {
      display: inline-block;
      float: left;
      padding-left: 0; }
      #footer .about ul li img {
        margin: 1rem 0 0; }
  #footer .connecting {
    padding-bottom: 3rem; }
    #footer .connecting .tweets {
      padding-left: 0; }
      #footer .connecting .tweets li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
        #footer .connecting .tweets li .fa-twitter {
          font-size: 2rem;
          float: left;
          margin-right: 1rem; }
        #footer .connecting .tweets li div .small, #footer .connecting .tweets li div a {
          display: block; }
        #footer .connecting .tweets li div .small {
          font-size: 0.8rem;
          margin: 0.8rem 0 1.5rem; }
    #footer .connecting .social {
      padding-left: 0; }
      #footer .connecting .social h3 {
        display: block; }
      #footer .connecting .social .soc-connect {
        display: inline-block;
        float: left;
        margin-right: 2rem; }
      #footer .connecting .social li {
        display: inline-block;
        float: left;
        font-size: 2rem;
        text-align: center;
        width: 3rem;
        height: 3rem;
        background-color: #000000;
        margin-right: 1px; }
  #footer .contact .address {
    margin-top: 4rem; }
    #footer .contact .address ul {
      padding: 0; }
      #footer .contact .address ul li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 2rem; }
        #footer .contact .address ul li .fa {
          text-align: center;
          width: 3rem;
          height: 3rem;
          background-color: #000000;
          margin-right: 1.6rem;
          padding-top: 1rem; }
        #footer .contact .address ul li .contact-address, #footer .contact .address ul li .contact-phone {
          margin-top: 1rem; }
          #footer .contact .address ul li .contact-address span, #footer .contact .address ul li .contact-phone span {
            display: block; }
        #footer .contact .address ul li .fa-envelope {
          padding-top: 0.7rem; }
        #footer .contact .address ul li .contact-email {
          margin-top: 0.7rem; }
  #footer .contact #mc-form {
    margin-bottom: 5rem;
    position: relative; }
    #footer .contact #mc-form .mc-email {
      border: none;
      background: none;
      border-bottom: 1px solid #ffeb00;
      color: #ffffff;
      font-size: 1.7rem; }
    #footer .contact #mc-form .mc-button {
      background-color: #000000;
      border: none;
      width: 2.8rem;
      height: 2.8rem; }
    #footer .contact #mc-form .fa-envelope-o {
      position: absolute;
      bottom: 1.4rem;
      font-size: 1.6rem;
      margin-left: -2.2rem; }

@media (max-width: 767px) {
  #footer {
    padding: 0;
    text-align: center; }
    #footer .row {
      margin: 0; }
      #footer .row .about ul {
        width: 30rem;
        margin: 0 auto; }
        #footer .row .about ul li {
          padding: 0.4rem; }
      #footer .row .connecting .tweets {
        margin: 0 auto; }
        #footer .row .connecting .tweets li div {
          text-align: left; }
      #footer .row .connecting .social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; }
      #footer .row .contact .address {
        margin-top: 2rem; }
        #footer .row .contact .address ul {
          margin: 0 auto; }
          #footer .row .contact .address ul li a {
            font-size: 1.2rem; }
          #footer .row .contact .address ul li .contact-address, #footer .row .contact .address ul li .contact-phone, #footer .row .contact .address ul li .contact-email {
            text-align: left; } }

.nav-footer {
  background-color: #000000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 17rem;
  padding: 1rem 9rem;
  margin-bottom: 1.5rem; }
  .nav-footer p {
    font: 400 1.4rem 'Century Gothic', Regular;
    color: #ffffff; }
  .nav-footer .nav-skokov-footer li a {
    font: 300 1.6em 'Code', light;
    color: #ffffff;
    padding: 2rem 1rem;
    margin-left: 1.4rem; }
    .nav-footer .nav-skokov-footer li a:hover {
      background-color: #3f3f44; }

@media (min-width: 768px) and (max-width: 1200px) {
  .nav-footer {
    display: block; }
    .nav-footer .navbar-footer {
      display: block;
      text-align: center; }
    .nav-footer #navbar-footer {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .nav-footer #navbar-footer li a {
        margin-left: 1rem; } }

@media (max-width: 767px) {
  .nav-footer {
    display: block;
    margin: 0;
    padding: 0; }
    .nav-footer .navbar-footer {
      width: 98%;
      display: block;
      text-align: center; }
    .nav-footer #navbar-footer {
      width: 98%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin: 0; }
      .nav-footer #navbar-footer li a {
        display: block;
        padding: 0.7rem;
        margin-left: 0;
        font-size: 1.2rem; } }
