@media (max-width: 767px) {
  .error-info {
    padding: 2rem 0 0;
    .error-number {
      font-size: 10rem;
      margin-top: 10rem;
      line-height: 6rem;
    }
    .p {
      .error-text {
        font-size: 3rem;
        height: 3.2rem;
        width: 25rem;
      }
      .attention {
        font-size: 4rem;
        margin-left: -1rem;
      }
    }
    .a {
      a, .or {
        font-size: 1.4rem;
        padding: 0.5rem;
      }
    }
  }
}
