@media (max-width: 767px) {
  #header {
    display: block;
    margin: 0 auto;
    .navbar-header {
      .button-skokov {
        border-color: #000000;
        margin-top: 4em;
        span {
          background-color: #000000;
        }
        &:hover {
          background-color: #ffeb00;
        }
      }
    }
    .nav-skokov {
      li {
        a {
          padding: 0.5em;
          margin: 0 2em;
        }
      }
    }
  }
}