@font-face {
	font-family: "Century Gothic";
	src: url(../fonts/CenturyGothic.ttf);
	src: url(../fonts/CenturyGothic.eot);
	src: url(../fonts/CenturyGothic.svg);
	src: url(../fonts/CenturyGothic.woff);
}
@font-face {
	font-family: "Code";
	src: url(../fonts/Code-Light.ttf);
	src: url(../fonts/Code-Light.otf);
	src: url(../fonts/Code-Light.eot);
	src: url(../fonts/Code-Light.svg);
	src: url(../fonts/Code-Light.woff);
}

body {
	background-color: #f6f6f6;
	h1, p, span, a {
		font: 400 10px 'Century Gothic', Regular;
	}
	h2 {
		font: 300 10px 'Code', Light;
	}
	h1, h2 {
		text-transform: uppercase;
	}
	ul {
		list-style: none;
	}
}
@media (min-width: 1400px) {
	body>.container {
		width: 138rem;
		margin: 0 auto;
		padding: 0;
	}
}
@media (max-width: 1399px) {
	body>.container {
		width: 100%;
	}
}

@import "header";
@import "header320";
@import "header768";
@import "header992";
@import "portfolio-name";
@import "portfolio-name320";
@import "tabs";
@import "tabs320";
@import "footer";
@import "footer320";
@import "nav-footer";
@import "nav-footer768";
@import "nav-footer320";
